.project-item {
  display: flex;
  background-color: pink;
  justify-content: space-around; // small screen --- center large space-between
  flex-wrap: wrap;
  width: fit-content;

  .item-description {
    width: 100%;
    justify-content: space-between;
    display: flex ;
    padding-top: 3%;
    padding-bottom: 10%;
  }
}

.projects-title {
  text-align: center;
  text-transform: uppercase;
}

.author-name {
  text-align: center;
  padding-bottom: 5%;
}

.author-description {
  padding-bottom: 5%;
}
