@use 'media.module' as media;
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  a {
    color: white;
    border: 2px solid rgba(var(--bs-dark-rgb));
    
    &:hover {
      cursor: pointer;
    }

  }
}

.navbar .current {
  border-color: blue;
  background-color: lightblue;
  color: red;
  border-width: 2px;
  height: 118%;
  border-top: 120%;
  backdrop-filter: fill;
}

#project-title {
  margin-left: 8svw;
}

.project-item {
  display: flex;
  justify-content: space-around; // small screen --- center large space-between
  flex-wrap: wrap;
  border: 1px solid transparent;
  border-color: black;
  border-radius: 40px;
  margin-bottom: 10px;
  width: 80%;

  img {
    margin-top: 5px;
  }

  .item-description {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 7%;

    button {
      margin-left: 8svw;
    }
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.author-name {
  text-align: center;
}

.author-description {
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0;
  text-align: justify;
}

.image {
  display: flex;
  justify-content: center;
}

.sized-box {
  padding-top: 1%;
  padding-bottom: 1%;
}

.form-components {
  padding-top: 2%;

  textarea,
  input,
  button {
    margin-left: 10svw;
  }

  textarea,
  input {
    width: 80svw;
    padding: 3% 2%;
    resize: none;
    border-radius: 1rem;
    padding-left: 2%;
  }
}

#skills {
  margin-top: 2%;

  .list-div {
    width: 85%;
    margin-left: 10%;
    padding: 0;

    ul {
      list-style-type: none;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      width: fit-content;


      li {
        display: inline-flex;
        width: 25%;
        align-self: center;

        .skill-label {
          text-align: center;
          font-weight: 700;
        }
        
        .skills-icon:hover {
          background-color: white;
        }
      }
    }
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform:
      rotate(0deg);
  }

  to {
    transform:
      rotate(360deg);
  }
}

.footer {
  margin-top: 6%;
  padding: 5%;
  padding-bottom: 8%;
  background-color: lightblue;
  text-align: center;
}

.footer-text {
  color: rgb(115, 37, 37);
  font-size: small;
  font-weight: 600;
  font-style: italic;
}

.social-media {
  margin: 5% 20% 0 20%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: media.$mobile-md) and (max-width: media.$laptop-lg) {
  .project-item {
    width: 30%;
  }

  #skills {
    .list-div {
      ul {
        li {
          width: 20%;
          padding-bottom: 1%;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .footer-text {
    font-size: large;
  }

  .social-media {
    margin: 3% 35% 0 35%;
  }
}

@media only screen and (min-width: media.$laptop-lg) {
  .project-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 60px;
    row-gap: 30px;
    // background-color: red;
    margin-bottom: 0;
    width: 55%;
    margin-left: 22svw;
  }

  .project-item {
    width: 100%;

    .item-description {
      h4 {
        font-size: large;
      }

      button {
        margin-left: 2svw;
      }
    }
  }

  #project-title {
    margin-left: 2svw;
  }

  #skills {
    .list-div {

      ul {
        margin-left: 3%;

        li {
          width: 16%;
          padding-bottom: 1.4%;
        }

        .skill-label {
          font-size: large;
        }
      }
    }
  }

  .author-description {
    margin-left: 10%;
    margin-right: 10%;
  }

  .form-components {
    margin: 0 20svw;

    textarea,
    input {
      margin: 0 16svw;
      width: 50%;
      padding: 3% 1%;
    }

    button {
      margin: 0 16svw;
    }
  }

  .footer {
    padding: 5%;
  }

  .footer-text {
    font-size: x-large;
  }

  .social-media {
    margin: 2% 36% 0 36%;
  }
}